body	
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
leftmargin="0" 
rightmargin="0" 
topmargin="0" 
bottommargin="0" 
marginwidth="0" 
marginheight="0"
}

p {margin: 10px 5px;}
p.code
{
font-family: Courier New, Courier, mono;
font-size: 16px;
background-color: #FFFFE6;
border:1px grey;
border-style:dashed; 
padding:10px;
margin: 10px 20px;
}

p.quellen
{
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 10px;
}
p.bildunterschrift
{
font-size: 9px;
font-style:italic;
text-align:center;
}

fieldset
{
Border: 1px solid #CCCCCC;
}
legend
{
Font-Weight: bold;
Border: 1px solid #CCCCCC;
Text-Align: center;
}

a:link 
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
color: #000000;
}
a.nav{font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;font-weight:normal;color: #000000;text-decoration: none;}
a.nav:active{font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;color: #000000; text-decoration: none;}
a.nav:hover{font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;color: #000000;text-decoration: none;}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #000000;
	background-color: #FFFFFF;
	line-height: normal;
	letter-spacing: 0px;
	word-spacing: normal;
	vertical-align: baseline;
	text-align: left;
	white-space: normal;
	
}


